@model IEnumerable<Lesson>
@{
    ViewData["Title"] = "Ders Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mg-2">
    <hr />
    <strong>@ViewData["Title"]</strong>
    <br />
    <a href="~/Lesson/Create" class="btn btn-primary btn-sm">Yeni Ders Ekle</a>
    <br />
    <div class="row">
        <table class="table table-hover table-striped table-bordered table-sm">
            <thead>
                <tr>
                    <th>Ders Adı</th>
                    <th>Öğrenci Sayısı</th>
                    <th>Öğretmen Sayısı</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Students.Count()</td>
                        <td>@item.Teachers.Count()</td>
                        <td>
                            <a href="~/Lesson/Detail/@item.Id" class="btn btn-info btn-sm">Detay</a>
                            <a href="~/Lesson/Edit/@item.Id" class="btn btn-success btn-sm">Güncelle</a>
                            <a href="~/Lesson/Delete/@item.Id" onclick="return confirm('Emin Misiniz ?')" class="btn btn-danger btn-sm">Sil</a>
                        </td>
                    </tr>
                }
        </table>
    </div>
</div>